*{
    margin :0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



mat-calendar{
    background-color: rgb(20, 212, 222);
    border-radius: 2%;

}